label{ 
  color:white
}

.FormContainer{
    border-radius: 5px;
    padding: 20px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.col-25 {
    color:white;
    float: left;
    width: 25%;
    margin-top: 6px;
  }
.col-75 {
    color:white;
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .FormContainer{
        margin-left: 0%;
        margin-right: 0%;
    }
  }
input[type=text],[type=date], select, textarea{
    color: white;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  select{
    color: white;
  }
  input[type=submit] {
    color: white;
    margin-top: 10px;
    width: 20%;
    background-color: #02AA5D;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
  }
